* {
    --yokki-black:#252525;
    --yokki-purple:#94426C;
    --yokki-blue:#3166AA;
    --yokki-green:#53AB55;
    --yokki-yellow:#FEDB35;
    --yokki-orange:#ED7B3C;
    --yokki-red:#E54946;
    --yokki-off-white:#FFF7DA;
    --yokki-pink:#F1C6CD;
  }